{% if site.author.googlescholar %}
You can also find my papers on <a target="_blank" href="{{site.author.googlescholar}}">Google Scholar</a> or
<a target="_blank" href="{{site.author.dblp}}">dblp</a>.
{% endif %}

{% include base_path %}

<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

*\* indicates alphabetical author order.*

<style>
    .me {
        /* font-weight: bold; */
        text-decoration: underline;
    }

    .title {
        /* font-style: italic; */
        font-weight: bold;
        /* font-weight: 500; */
    }
</style>

{% assign pubs_by_year = site.data.publications.pubs | group_by: "year" %}
{% for group in pubs_by_year %}
{% if group.name == "previous" %}
<h3>Selected Previous Publications</h3>
{% else %}
<h3>{{ group.name }}</h3>
{% endif %}
<ul>
    {% for pub in group.items %}
    <li>
        <span class="title">{{ pub.title }}</span><br />
        {% if pub.alpha %}*{% endif %}{{ pub.authors | join: ", " }}<br />
        {% if pub.venues %}
        <em>{{ pub.venues | join: ", " }}</em><br />
        {% endif %}
        <!-- <img src="https://img.shields.io/badge/-{{ pub.venue }}-lightgrey"><br /> -->
        {% if pub.eprint %}
        <a target="_blank" href="https://eprint.iacr.org/{{ pub.eprint }}">
            <img src="https://img.shields.io/badge/-ePrint-brightgreen"></a>
        <!-- <img
                src="https://img.shields.io/static/v1?label=&message=eprint&color=brightgreen&logo=openaccess&logoColor=white"></a> -->
        {% endif %}
        {% if pub.arxiv %}
        <a target="_blank" href="https://arxiv.org/abs/{{ pub.arxiv }}"><img
                src="https://img.shields.io/badge/-arXiv-brightgreen"></a>
        {% endif %}
        {% if pub.doi %}
        <a target="_blank" href="https://doi.org/{{ pub.doi }}"><img
                src="https://img.shields.io/badge/-conference version-green"></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}