.archive a:not(.artifact-link, .sidebar),
article a:not(.artifact-link, .sidebar) {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// custom icons
.custom-farcaster {
    content: url('farcaster-purple.svg');
    vertical-align: middle;
}